<!DOCTYPE html>
<html>
<head>
<title>Hola!</title>
<%= javascript_script_tag "/javascript/jQuery/jquery-1.6.4.js" %>
<%= javascript_script_tag "/javascript/jQuery/jquery-1.6.4.js" %>
<%= javascript_script_tag "/javascript/jQuery/jquery-1.6.4.js" %>
<%= javascript_script_tag "/javascript/jQuery/jquery-1.6.4.js" %>
<%= javascript_script_tag "/javascript/jQuery/jquery-1.6.4.js" %>
<%= javascript_script_tag "/javascript/jQuery/jquery-1.6.4.js" %>
<%= javascript_script_tag "/javascript/jQuery/jquery-1.6.4.js" %>
<%= javascript_script_tag "/javascript/jQuery/jquery-1.6.4.js" %>
<%= javascript_script_tag "/javascript/jQuery/jquery-1.6.4.js" %>
<%= javascript_script_tag "/javascript/jQuery/jquery-1.6.4.js" %>
</head>

<body>
Hola!...
</body>

</html> 


